p {
    min-height: 16px;
    font-size: 16px;
}

h1, h2, h3, h4 {
    min-height: 16px;
}

#toolbar {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
}

.btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.font {
    position: relative;
    height: 50px;
    width: 200px;
    margin-left: 20px;
}

.font-item {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}

.font-item > h1 {
    margin: 0;
    margin-top: 12px;
    text-align: center;
    font-size: 22px;
}

#font-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
}

#font-current:hover ~ #font-list{
    display: flex;
}

#font-list:hover {
    display: flex;
}

#editor {
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

.font-size {
    height: 50px;
    width: 50px; 
    margin-left: 20px;
}

#font-size {
    height: 50px;
    width: 50px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


span {
    color: rgba(0,0,0,.4)
}

.container-editor .micro-menu {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-editor .sidebar-menu {
    position: absolute;
    height: 30px;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}


.container-editor .item {
    width: 50%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.2)
}

.container-editor .item:hover {
    color: rgba(0,0,0,.8);
}

.container-editor .item.active {
    color: rgba(0,0,255,.5)
}

.container-editor .item.active:hover {
    color: rgba(0,0,255,.7)
}
